/* -- PAGE INDEX.PHP -- */
.logo {
  text-align: center;
}
#logoNorthwind {
  width: 40%;
}
#logoSimplon {
  width: 30%;
}
.banniere {
  margin-bottom: 7%;
  margin-top: 3%;
}




/* -- PAGE LISTEPERSONNEL.PHP -- */
